<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>首页-后台管理系统</title>
  </head>
  <body>
    <div class="page">
      <% include components/top.inc.ejs %>
    </div>
      <div class="content-wrap">
        <h1>后台管理系统</h1>
      </div>
  </body>
</html>
